PROFILE_URL=https://www.instagram.com/yvora.gastronomia/
BRAND_NAME=YVORA
BRAND_SUBTITLE=Carnes, queijos e vinhos em uma jornada sensorial
FOLLOW_CTA=Siga o YVORA no Instagram
MILESTONE_TARGET=10000
MOCK_FOLLOWERS_START=0
CACHE_SECONDS=15
MEDIA_CACHE_SECONDS=60
GRAPH_VERSION=v24.0
USER_ACCESS_TOKEN=
IG_BUSINESS_ID=
PORT=5000
